
.form-box{
display: flex;
margin-top: 2rem;
justify-content: space-around;
}

.form-box .heading{
  font-size: large;
 
}

.box button{
  width: 110px;
  margin-top: 1rem;
  margin-left: 5px;
  font-size: 14px;
}
